---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout class="flex w-full justify-center">
  <div class="prose prose-zinc dark:prose-invert">
    <h2>Hey there...</h2>
    <p>Welcome to my little corner of the internet. Here you can see some insider info and learn about my process when making things.</p>
    <p>
      There's not much here yet, but maybe if I get into a routine of posting things you'll see more appear in the <a href="/blog">blog</a>.
    </p>
  </div>
</DefaultLayout>
