---
const nav = [
  { label: "blog", href: "/blog" },
  { label: "git", href: "https://gitlab.com/dotmrjosh", target: "_blank" },
  { label: "twitch", href: "https://www.twitch.tv/dotmrjosh", target: "_blank" },
  { label: "bsky", href: "https://bsky.app/profile/dotmrjosh.dev", target: "_blank" },
  { label: "twitter", href: "https://twitter.com/dotmrjosh", target: "_blank" },
];
---

<nav class="flex gap-7 md:gap-1 md:flex-col">
  {
    nav.map((n) => (
      <a class="text-zinc-400 hover:text-black dark:text-zinc-600 dark:hover:text-white transition-colors" href={n.href} target={n.target}>
        {n.label}
      </a>
    ))
  }
</nav>
