---
import "@styles/global.css";
import "@fontsource-variable/gabarito";

import Meta from "components/Meta.astro";
import Nav from "@components/Nav.astro";
import Foot from "@components/Foot.astro";
import Grain from "@components/graphics/Grain.astro";

type Props = {
  class?: string;
};

const { class: classes } = Astro.props;

const title = "dotmrjosh";
const description = "The coner of the internet that's looked after by dotmrjosh";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta title={title} description={description} />
  </head>
  <body>
    <div class:list={["relative flex justify-center isolate overflow-x-clip dark:bg-zinc-800 min-h-screen dark:text-white", classes]}>
      <Grain />
      <div class="max-w-4xl w-full px-7 lg:px-0">
        <header class="py-4 lg:py-7">
          <h1>
            <a class="text-7xl text-zinc-400 hover:text-black dark:text-zinc-600 dark:hover:text-white transition-colors" href="/"
              >dotmrjosh</a
            >
          </h1>
        </header>
        <div class="grid md:grid-cols-[14rem_1fr]">
          <Nav />
          <main class="z-10 mt-7 md:mt-0">
            <slot />
          </main>
        </div>
        <Foot />
      </div>
    </div>
  </body>
</html>
